version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: microservices_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  users_service:
    build: ./users_service
    container_name: users_service
    ports:
      - "8001:8001"
    depends_on:
      postgres:
        condition: service_healthy

  orders_service:
    build: ./orders_service
    container_name: orders_service
    ports:
      - "8002:8002"
    depends_on:
      postgres:
        condition: service_healthy
      users_service:
        condition: service_started
